body,
html {
    margin: 0px !important;
    color: #c2c2c2 !important;
    background-color: #0c0c0c !important;
    min-height: 100% !important;
    font-family: Hack, monospace !important;
    font-size: 14px !important;
    scroll-behavior: smooth;
}
#projects,
#links,
#now {
    scroll-margin: 30px;
    scroll-snap-align: start;
}
.line {
    display: inline-block;
}
.location-icon {
    color: #c2c2c2;
    margin-left: 10px;

    display: flex;
    align-content: center;
}
.random {
    display: flex;
    align-self: center;
    margin-right: 10px;
}
.status {
    display: flex;
    align-content: center;
    margin-left: 10px;
}
.dot {
    height: 14px;
    width: 14px;
    background-color: #01fc01;
    border-radius: 50%;
    display: flex;
    align-self: center;
    margin-right: 3px;
    animation: glow 1s infinite alternate;
    margin-right: 10px;
}

@keyframes glow {
    from {
        background-color: #01fc01;
    }
    to {
        background-color: #0a680a;
        height: 12px;
        width: 12px;
        margin-right: 12px;
    }
}
.menu {
    margin-top: 2.5rem;
}
.menu-item {
    display: flex;
    align-content: center;
    font-size: 20px;
    padding-top: 0.6rem;
    color: #c2c2c2;
}
.menu-item-text {
    color: #c2c2c2;
}
.menu-item-logo {
    display: flex;
    align-self: center;
    margin-right: 10px;
    width: 28px;
}
.menu-item-text:hover {
    text-decoration: underline;
    color: #c2c2c2;
}
.links {
    margin-top: 2.5rem;
}
.links-title {
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 2rem;
    letter-spacing: -2px;
}
.links-item {
    display: flex;
    align-content: center;
    font-size: 20px;
    padding-top: 0.6rem;
    color: #c2c2c2;
    justify-content: center;
}
.link-text {
    color: #c2c2c2;
}
.link-icon {
    display: flex;
    align-self: center;
    margin-right: 10px;
    width: 28px;
}
.projects {
    margin-top: 2rem;
    display: block;
}
.projects-title {
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 2rem;
    letter-spacing: -2px;
}
.project {
    margin-left: 20px;
}
.project-title {
    display: flex;
    font-size: large;
    font-weight: 600;
    color: white;
    margin-top: 2.5rem;
}
.project-year {
    background-color: rgb(66, 66, 66);
    border-radius: 10%;
    padding: 3px 7px;
    margin-left: 15px;
    height: 19px;
    font-size: 10px;
    display: flex;
    align-self: center;
}
.project-text {
    margin: 1.2rem 0;
}
.project-link {
    color: rgb(4, 168, 168);
    display: block;
}
.project-link:hover {
    color: rgb(4, 145, 145);
    text-decoration: underline;
}
.background {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100% !important;
}
.infos {
    margin-top: 1.5rem;
}

.container {
    position: absolute !important;
    max-width: 700px !important;
    z-index: 1;
    align-content: center;
    padding: 0 30px;
}
.section {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 1.5rem !important;
    background-color: transparent !important;
}

.title {
    color: white !important;
    letter-spacing: -2px;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
.subtitle {
    margin-top: 1.5rem !important;
    color: #c2c2c2 !important;
}
.description {
    line-height: 1.6;
}
#particles-js canvas {
    position: fixed;
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
    transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
    width: 100%;
    height: 100vh !important;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
